* {
    border: solid 1px red;
}

h1,
h2,
h3,
h4 {
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
}

app-bar {
    display: block;
}

.navbar,
.card {
    border: none;
    box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
}


/* .movie-list {
    display: flex;
    /* align-items: center;
    justify-content: center;
    flex-direction: row;
} */